<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CSS Minifier Demo</title>
    <link rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/Content/Site.less")" />
</head>

<body>

    <div class="Header">
        <div class="HeaderContent">
            <h1>
                <a href="/">CSS Minifier Demo</a>
            </h1>
            <span class="Tagline">Example Page</span>
        </div>
    </div>

    <div class="WrapperOuter">
        <div class="Wrapper">
            <div class="Main">
                <div class="Content">
                    <h3 class="PostDate">4 February 2012</h3>
                    <h2>Ut quis lorem non nunc rhoncus pretium</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent leo libero, auctor mollis pellentesque ut, tempor varius velit. Aliquam hendrerit, lectus vitae sollicitudin malesuada, dui erat vulputate erat, id elementum lacus nibh sit amet eros. Mauris ut diam nulla. Ut sodales aliquet commodo. Curabitur in enim libero, et dignissim augue. Vivamus imperdiet iaculis lectus ut venenatis. Nam mi sapien, bibendum rutrum elementum ut, varius at nulla. Cras consectetur, lacus nec adipiscing interdum, quam elit tristique sapien, at vehicula erat enim in tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam blandit blandit metus eget molestie. Aenean nec convallis sapien. Sed sit amet mi velit. Ut a molestie purus. Nunc quis imperdiet neque. Praesent et arcu ut turpis molestie vulputate sit amet at sem.</p>
                    <blockquote>
                        <p>Proin in quam risus, id lacinia nibh. Vestibulum a orci quam, non sagittis ante. Integer elementum consequat diam sed aliquam. Praesent suscipit feugiat lacus sit amet elementum. Suspendisse adipiscing nisl vel sem euismod aliquam eu sed nisl. Fusce dignissim interdum viverra. Sed ultricies rhoncus orci, eu lobortis diam aliquam non. Aliquam luctus nisl sed est aliquam suscipit.</p>
                    </blockquote>
                    <p>Aenean porta vehicula diam, sed feugiat neque feugiat ac. Cras eu laoreet lorem. Nulla hendrerit faucibus dui, eget posuere augue tempor faucibus. Phasellus varius, elit id pellentesque iaculis, diam tortor feugiat leo, a consectetur mi felis at neque. Ut commodo placerat dui eu condimentum. Nam at tortor ac nulla lacinia tincidunt id nec lorem. Ut non turpis ligula, ac posuere est.</p>
                    <p>Quisque sed mi augue, vel placerat elit. Pellentesque ultricies nulla et odio dignissim auctor et ut tellus. Mauris semper nulla rutrum sapien porta auctor tempus quam viverra. Fusce rutrum felis vitae eros eleifend ullamcorper ac et arcu. In vitae purus turpis, in tempor urna. Aenean augue diam, porttitor id tempus sit amet, ornare nec metus. Donec tincidunt lacinia blandit. Sed pharetra tellus neque, a posuere magna.</p>
                </div>
                <div class="Content">
                    <h3 class="PostDate">1 February 2012</h3>
                    <h2>Proin auctor adipiscing tempor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent leo libero, auctor mollis pellentesque ut, tempor varius velit. Aliquam hendrerit, lectus vitae sollicitudin malesuada, dui erat vulputate erat, id elementum lacus nibh sit amet eros. Mauris ut diam nulla. Ut sodales aliquet commodo. Curabitur in enim libero, et dignissim augue. Vivamus imperdiet iaculis lectus ut venenatis. Nam mi sapien, bibendum rutrum elementum ut, varius at nulla. Cras consectetur, lacus nec adipiscing interdum, quam elit tristique sapien, at vehicula erat enim in tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam blandit blandit metus eget molestie. Aenean nec convallis sapien. Sed sit amet mi velit. Ut a molestie purus. Nunc quis imperdiet neque. Praesent et arcu ut turpis molestie vulputate sit amet at sem.</p>
                    <blockquote>
                        <p>Proin in quam risus, id lacinia nibh. Vestibulum a orci quam, non sagittis ante. Integer elementum consequat diam sed aliquam. Praesent suscipit feugiat lacus sit amet elementum. Suspendisse adipiscing nisl vel sem euismod aliquam eu sed nisl. Fusce dignissim interdum viverra. Sed ultricies rhoncus orci, eu lobortis diam aliquam non. Aliquam luctus nisl sed est aliquam suscipit.</p>
                    </blockquote>
                    <p>Aenean porta vehicula diam, sed feugiat neque feugiat ac. Cras eu laoreet lorem. Nulla hendrerit faucibus dui, eget posuere augue tempor faucibus. Phasellus varius, elit id pellentesque iaculis, diam tortor feugiat leo, a consectetur mi felis at neque. Ut commodo placerat dui eu condimentum. Nam at tortor ac nulla lacinia tincidunt id nec lorem. Ut non turpis ligula, ac posuere est.</p>
                    <p>Quisque sed mi augue, vel placerat elit. Pellentesque ultricies nulla et odio dignissim auctor et ut tellus. Mauris semper nulla rutrum sapien porta auctor tempus quam viverra. Fusce rutrum felis vitae eros eleifend ullamcorper ac et arcu. In vitae purus turpis, in tempor urna. Aenean augue diam, porttitor id tempus sit amet, ornare nec metus. Donec tincidunt lacinia blandit. Sed pharetra tellus neque, a posuere magna.</p>
                </div>
            </div>
            <div class="About">
                <h2>About</h2>
                <p>Mauris convallis scelerisque quam vitae adipiscing. Fusce convallis, odio nec vestibulum ultrices, ligula leo molestie massa, vitae malesuada urna enim ut quam.</p>
                <p>Donec venenatis est sit amet diam fermentum ornare. Mauris ultrices lacus vestibulum nulla consectetur pretium.</p>
            </div>
            <div class="Recent">
                <h2>Recent Posts</h2>
                <ul>
                    <li><a href="/">Ut quis lorem non nunc rhoncus pretium</a></li>
                    <li><a href="/">Proin auctor adipiscing tempor</a></li>
                    <li><a href="/">Praesent eget mauris ante</a></li>
                    <li><a href="/">Aliquam nisi leo, eleifend sed dignissim nec, volutpat a orci</a></li>
                    <li><a href="/">Nulla laoreet ornare placerat</a></li>
                </ul>
            </div>
            <div class="Featured">
                <h2>Highlights</h2>
                <ul>
                    <li><a href="/">Praesent eget mauris ante</a></li>
                    <li><a href="/">Nulla laoreet ornare placerat</a></li>
                </ul>
            </div>
            <div class="History">
                <h2>Archives</h2>
                <ul>
                    <li><a href="/">February 2012 (2)</a></li>
                    <li><a href="/">January 2012 (1)</a></li>
                    <li><a href="/">December 2011 (3)</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
